{mode,      max}.
{duration,    1}.
{concurrent, 40}.

{driver, basho_bench_driver_leo_object_storage}.
{code_paths, ["deps/leo_object_storage",
              "deps/leo_logger",
              "deps/leo_commons"]}.

{obj_storage_procs, 64}.
{obj_storage_path,  "/avs/"}.

{key_generator,   {uniform_int, 1000000}}.
{value_generator, {fixed_bin,   128}}.
{operations, [{get, 1}]}.

