{mode, max}.
{duration, 10}.
{concurrent, 1}.

{driver, basho_bench_driver_leo_object_storage}.

{key_generator, {int_to_bin,{uniform_int, 100000}}}.
{value_generator, {fixed_bin, 16384}}.

{operations, [{put, 1}]}.
{code_paths, ["deps/leo_object_storage", "deps/leo_commons", "deps/leo_backend_db", "deps/bitcask"]}.
