{require_otp_vsn, "R14B04|R15B01"}.

{deps, [
    {leo_commons,    ".*", {git, "https://github.com/leo-project/leo_commons.git",    "develop"}},
    {leo_backend_db, ".*", {git, "https://github.com/leo-project/leo_backend_db.git", "develop"}},
    {proper,         ".*", {git, "https://github.com/manopapad/proper.git",           "master" }}
]}.

{erl_opts, [{d, 'NOTEST'},
            warn_obsolete_guard,
            %%warn_unused_import,
            warnings_as_errors,
            warn_shadow_vars,
            warn_export_vars,
            warn_export_all]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{clean_files, []}.
